[Desktop Entry]
Name=V.O.L.L.
GenericName=Vokabeln Ohne Langeweile Lernen
Comment=Ein kinderfreundlicher Vokabeltrainer
Exec=voll
Icon=voll
Terminal=false
Type=Application
Categories=Education;Languages;GTK;
Keywords=vocabulary;language;learning;education;
